.footer-main {
  & * {
    font-size: 14px;
  }

  border-top: 2px solid var(--color-main);
  padding: 30px 0;
  &-inner {
    --f-columns: 3;
    --f-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    & > * {
      margin-left: var(--f-gap);

      width: calc((100% / var(--f-columns) - var(--f-gap)));
    }
  }
}

.footer-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--color-second);
}
.icon-svg {
  width: 22px;
}

.footer-icon {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  span {
    margin-left: 5px;
  }
}
.footer-item {
  & > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
.footer-info {
  img {
    width: 50%;
  }
}
.footer-link {
  li {
    list-style: none;
  }
  li:not(:last-child) {
    margin-bottom: 15px;
  }
  ul {
    padding-left: 0;
    margin: 0;
  }
  a {
    color: #333;
  }
}
.footer-form {
  &-item > *:not(:last-child) {
    margin-bottom: 15px;
  }
 
  .btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .form-control {
    
    
    margin-bottom: 0;
    padding: 15px 10px;
  }
}
.footer-soical {
  svg {
    width: 20px;
    background: var(--color-main);
    padding: 9px;
    height: 20px;
    border-radius: 5px;
  }
  path {
    fill: #fff;
  }
  &-item {
    display: inline-block;
    margin-right: 15px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-main-inner > *:not(:last-child) {
    margin-bottom: 30px;
  }
  .footer-main-inner {
    --f-columns: 1;
  }
}
