@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --color-main: #336d35;
  --color-second: #ff4917;
}
*:before {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
  line-height: 1;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}
a {
  text-decoration: none;
  color: var(--color-main);
  transition: 0.2s linear;
}
a:hover {
  text-decoration: none;
  color: var(--color-second);
}
img {
  display: inline-block;
  max-width: 100%;
}
p {
  margin: 0;
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn {
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid;
  &-primary {
    background: var(--color-main);
    color: #fff;

    &:hover {
      color: #fff;
      opacity: 0.8;
    }
  }
  &-outline {
    background: none;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    &:hover {
      background: var(--color-main);
      color: #fff;
    }
  }
}
.container {
  max-width: 1300px;
  margin: auto;
}
.form-group {
  position: relative;
  z-index: 9999;
}
.form-control {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  &:focus {
    border: 1px solid var(--color-main);
  }
}
.section {
  padding: 60px 0;
  .container > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
.title-main {
  text-transform: uppercase;
}
.pb-0 {
  padding-bottom: 0;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.app-content {
  background: #fafafa;
}
.form-group > *:not(:last-child) {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.text-danger {
  color:#e7515a ;
}
@media screen and (max-width: 767.98px) {
  * {
    line-height: 1.5;
  }
}
